<template>
  <div>
    <!-- start here -->
    <h1> {{msg}}</h1>
  </div>
</template>

<script>
export default {
  name: 'Schedules',
  props: {
    msg: String
  }
}
</script>
<style scoped>

</style>
