
/**
 *  Official Colors 
 */

// white
$color-white: #fff;
$color-white--r: 255;
$color-white--g: 255;
$color-white--b: 255;

// light-gray
$color-light-gray: #dddfe1;
$color-light-gray--r: 221;
$color-light-gray--g: 223;
$color-light-gray--b: 225;

// dark-gray
$color-dark-gray: #b4b9be;
$color-dark-gray--r: 180;
$color-dark-gray--g: 185;
$color-dark-gray--b: 190;

// black
$color-black: #000;
$color-black--r: 0;
$color-black--g: 0;
$color-black--b: 0;

// blue
$color-blue: #0f1e3c;
$color-blue--r: 15;
$color-blue--g: 30;
$color-blue--b: 60;

// blue-tint
$color-blue-tint: #27344f;
$color-blue-tint--r: 39;
$color-blue-tint--g: 52;
$color-blue-tint--b: 79;

// red
$color-red: #d73c4b;
$color-red--r: 215;
$color-red--g: 60;
$color-red--b: 75;

// red-tint
$color-red-tint: #eb7580;
$color-red--r: 235;
$color-red--g: 117;
$color-red--b: 128;

/**
 *  Other Colors
 */

// old color name mapping
$color_black: $color-black;
$color_white: $color-white;
$color_accent: $color-red;
$color-light-background:  $color-light-gray;
$color-light-outline: $color-dark-gray;
$color-gray : #434343;
$color_dark_background: $color-black;

// Additional unofficial colors
$color-light-gray-1: #dddfe1;
$color-light-gray-2: #b4b9be;
$color-light-gray-3: #91989e;
$color-dark-gray-1: #4f555c;
$color-dark-gray-2: #31363b;
$color-dark-gray-3: #14171a;

