<template>
  <div id="app">
    <img class="logo" alt="FightCamp oo" src="./assets/logo.png">
    <Schedules msg="Welcome!"/>
  </div>
</template>

<script>
import Schedules from './components/Schedules.vue'

export default {
  name: 'app',
  components: {
    Schedules
  }
}
</script>

<style >
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.logo { 
  padding:20px;
  width:300px;
}
</style>
